@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color: #2C2F33;
    color: white;
}

.pantallaGrande{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header{
    .topHeader{
        background-color: #23272A;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px;
        row-gap: 30px;
        div{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
        }
        .etiquetaBot{
            background-color: #404EED;
            padding: 1px 5px;
            border-radius: 5px;
            font-weight: bold;
        }
        a{
            text-decoration: none;
            color: white;
            background-color: #5865F2;
            font-size: 1.5rem;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover{
                background-color: #404EED;
            }
        }
    }
    ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
        padding: 0px;
        a{
            color: white;
            text-decoration: none;
        }
    }
}

.selected{
    font-weight: bold;
    background-color: #23272A;
    border-radius: 0px 0px 5px 5px;
    padding: 5px 10px;
}

.logoBitro{
    width: 100px;
    border-radius: 50%;
}

.presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    text-align: center;
    h2{
        margin: 30px 0px 10px 0px;
    }
    p{
        width: 500px;
    }

    span{
        background-color: rgba(114, 137, 218, 0.5);
        padding: 1px 5px;
        border-radius: 5px;
        &:hover{
            background-color: #7289DA;
        }
    }
}

footer{
    background-color: #23272A;
    text-align: center;
    padding: 10px 0px;
    a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        &:hover{
            text-decoration: underline;
        }
    }
}

.sectionComandos{
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tiposComandos{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    div{
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        gap: 30px;
        p{
            cursor: pointer;
            padding: 10px 20px;
            border-radius: 5px;
            border: 2px solid #23272A;
            box-shadow: 0px 0px 5px black;
        }
    }
    
}

.formIdeas{
    margin-top: 20px;
    width: 640px;
    height: 860px;
}

.formReporte{
    margin-top: 20px;
    width: 640px;
    height: 1500px;
}

.estado{
    color: green;
    display: flex;
    margin-left: 10px;
    p{
        background-color: rgba(1,1,1,0);
    }
    i{
        animation-name: stretch;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-play-state: running;
    }
}

@keyframes stretch {
    100% {
        transform: scale(1.2);
    }
}

.imgComando{
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
}

.comandosInfo, .comandosMod, .comandosDiv{
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    margin: 40px 0px;
    display: none;
}

@media (max-width:500px){

    .topHeader{
        flex-direction: column;
    }
    .presentacion{
        p{
            width: 330px
        }
    }

    .tiposComandos{
        div{
            flex-direction: column;
            
        }
    }

    .imgComando{
        max-width: 350px;
    }

    .formIdeas{
        width: 370px;
        height: 930px;
        margin-bottom: 50px;
    }

    .formReporte{
        width: 370px;
        height: 1650px;
        margin-bottom: 30px;
    }
    h2{
        width: 350px;
    }
}