<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitro</title>
    <link rel="stylesheet" href="../scss/styles.css">
    <script src="https://kit.fontawesome.com/50303851c6.js" crossorigin="anonymous"></script>
</head>
<body class="pantallaGrande">
    <header>
        <section class="topHeader">
            <div>
                <img class="logoBitro" src="../img/Bitro.webp" alt="Logo Bitro">
                <h1>Bitro#3321</h1>
                <p class="etiquetaBot">BOT</p>
                <div class="estado">
                    <i class="fa-solid fa-circle circuloEstado"></i>
                    <p class="txtEstado">Online</p>
                </div>
            </div>
            <a target="_blank" href="https://discord.com/oauth2/authorize?client_id=977011726090395678&permissions=8&scope=bot%20applications.commands">Invitar a tu servidor</a>
        </section>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a class="selected" href="funcionalidades.html">Funcionalidades</a></li>
                <li><a href="ideas.html">Ideas</a></li>
                <li><a href="reportes.html">Reportes</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="sectionComandos">
            <h2>¿Quieres saber que puedo hacer?</h2>
            <article class="tiposComandos">
                <h3>Comandos de...</h3>
                <div>
                    <p class="buttonMod">Moderación</p>
                    <p class="buttonInfo">Información</p>
                    <p class="buttonDiv">Diversión</p>
                </div>
            </article>
            <article class="comandosMod">
                <img class="imgComando" src="../img/comandos/ban.jpg" alt="Comando ban">
                <img class="imgComando" src="../img/comandos/timeout.jpg" alt="Comando timeout">
                <img class="imgComando" src="../img/comandos/antispam.jpg" alt="Comando antispam">
            </article>
            <article class="comandosInfo">
                <img class="imgComando" src="../img/comandos/user-info.jpg" alt="Comando user-info">
                <img class="imgComando" src="../img/comandos/svstats.jpg" alt="Comando svstats">
                <img class="imgComando" src="../img/comandos/vbot.jpg" alt="Comando vbot">
            </article>
            <article class="comandosDiv">
                <img class="imgComando" src="../img/comandos/encuesta.jpg" alt="Comando encuesta">
                <img class="imgComando" src="../img/comandos/amor.jpg" alt="Comando amor">
                <img class="imgComando" src="../img/comandos/i.jpg" alt="Comando i">
            </article>
        </section>
    </main>
    <footer>
        <p>Diseñado por <a href="">Costa Tomás</a></p>
    </footer>
    <script src="../js/botonesComandos.js"></script>
    <script src="../js/cambiarEstado.js"></script>
</body>
</html>