<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitro</title>
    <link rel="stylesheet" href="../scss/styles.css">
    <script src="https://kit.fontawesome.com/50303851c6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <section class="topHeader">
            <div>
                <img class="logoBitro" src="../img/Bitro.webp" alt="Logo Bitro">
                <h1>Bitro#3321</h1>
                <p class="etiquetaBot">BOT</p>
                <div class="estado">
                    <i class="fa-solid fa-circle circuloEstado"></i>
                    <p class="txtEstado">Online</p>
                </div>
            </div>
            <a target="_blank" href="https://discord.com/oauth2/authorize?client_id=977011726090395678&permissions=8&scope=bot%20applications.commands">Invitar a tu servidor</a>
        </section>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="funcionalidades.html">Funcionalidades</a></li>
                <li><a href="ideas.html">Ideas</a></li>
                <li><a class="selected" href="reportes.html">Reportes</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="presentacion">
            <h2>Lamentamos que hayas tenido que recurrir a esta sección :(</h2>
            <p>Sin embargo, nos ayuda a mejorar el funciomiento dia a dia.</p>
            <p>Rellena este formulario con los datos necesarios para que podamos encargarnos del error.</p>
            <iframe class="formReporte" src="https://docs.google.com/forms/d/e/1FAIpQLSfRXOZscPML8jOXVae-Qfz53J1hChsmRZWdzrIo1A2D8XCVmA/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
        </section>
    </main>
    <footer>
        <p>Diseñado por <a href="">Costa Tomás</a></p>
    </footer>
    <script src="../js/cambiarEstado.js"></script>
</body>
</html>